@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family:"Poppins" */
    /* font-family:"Source sans 3", sans-serif */
    font-family: "Josefin Sans", sans-serif;
}
:root{
    --color12:#dadada;
    --color11:#8b8b8b;
    --color10:#e0e0d0; /*button background beigish */
    --color9:#d0e0ac;
    --color8:#c9c9c9; /* light border*/
    --color7:#737171; /*border color*/
    --color6:#030303; /* text color*/
    --color5:#344E41; /* heading color*/
    --color4:#3A5A40;
    --color3:#588157;
    --color2:#A3B18A;
    --color1:#f3f3f3;
}
h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 { 
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}