*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}
:root{
    --color7:#737171; /*border color*/
    --color6:#030303; /* text color*/
    --color5:#344E41; /* heading color*/
    --color4:#3A5A40;
    --color3:#588157;
    --color2:#A3B18A;
    --color1:#DAD7CD;
}
.App{
    position: relative;
    min-height: 100vh;
}
.container{
    width:100vw;
    padding-top:10vh;
    background-color: var(--color1);
    z-index:1;
}